body {
  margin: 0;
  background-color: rgb(190, 204, 244);
  color: rgb(34, 34, 34);
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
span,
button,
input {
  margin: 0.3em;
}
